LIGHTWEIGHT_MAILER_MAIL_SERVER = "your.mail.server"
LIGHTWEIGHT_MAILER_PORT = 0 # port as an integer, 587 for explicit tls, 465 for implicit tls
LIGHTWEIGHT_MAILER_SENDER_EMAIL = "youremail@domain.com"
LIGHTWEIGHT_MAILER_SENDER_PASSWORD = "your password"